
<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1" style="background-image: url(assets/car.jpg); background-size: cover;"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Create an Account!</h4>
                        </div>
                        <form [formGroup]="fieldRegister" (submit)="register()">
                            <div class="form-group"><input class="form-control" formControlName="email">
                            <div class="text-danger" *ngIf="fieldRegister.get('email').hasError('email')">
                              Email is incorrect
                            </div>
                            <div class="text-danger" *ngIf="fieldRegister.get('email').hasError('required')">
                              Email is incorrect
                            </div></div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control" type="password"  formControlName="password">
                                  <div class="text-danger" *ngIf="fieldRegister.get('password').hasError('required')">
                                  Passwor is required
                                </div></div>
                                <div class="col-sm-6"><input class="form-control" type="password"  formControlName="passwordRepeat"></div>
                            </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Register Account</button>

                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
