<form [formGroup]="editCar" (submit)="updateCar()" >
  <ng-container *ngIf="edited">
    <h3 class="text-success">Great Edit Complite</h3>
  </ng-container>
  <ng-container *ngIf="deleted">
    <h3 class="text-danger">Great Delete Complite</h3>
  </ng-container>
  <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <label>Name: {{car.mainName}}</label>
       <input class="form-control" formControlName="mainName" [(ngModel)]="car.mainName">
      </div>

      <div class="col-sm-6 mb-3 mb-sm-0">
        <label>Brand: {{car.brand}}</label>
        <input class="form-control" type="text"  formControlName="brand" [(ngModel)]="car.brand">
        </div>
      <div class="col-sm-6">
        <label>Model: {{car.model}}</label>
        <input class="form-control" type="text"  formControlName="model" [(ngModel)]="car.model">
      </div>
      <div class="col-sm-6">
        <label for="">Generation: {{car.generation}}</label>
        <input class="form-control" type="text"  formControlName="generation" [(ngModel)]="car.generation">
      </div>
      <div class="col-sm-6">
        <label for="">Plate: {{car.plate}}</label>
        <input class="form-control" type="text"  formControlName="plate" [(ngModel)]="car.plate">
      </div>
      <div class="col-sm-6">
        <label for="">Mileage: {{car.mileage}}</label>
        <input class="form-control" type="number"  formControlName="mileage" [(ngModel)]="car.mileage">
      </div>
      <div class="col-sm-6">
        <label for="">Production Year: {{car.productionYear}}</label>
        <input class="form-control" type="number"  formControlName="productionYear" [(ngModel)]="car.productionYear">
      </div>
    </div>
  <button class="btn btn-success text-white" type="submit">Accept</button>
</form>

<div class="row mt-2">
<div class="col-md-5">
  <button class="btn btn-danger text-white" (click)="deleteCar()">Delete</button>
</div>
<div class="col-md-5">
<a href="/#dashboard"><button class="btn btn-primary text-white right">Back</button></a>
</div>
</div>
<div class="row mt-4">

  <div class="col-lg-12 mb-2">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="text-primary font-weight-bold m-0">Share Car</h6>
      </div>
      <div class="card-body">
        <form [formGroup]="shareField" (submit)="shareCar()">
<!--          <div class="form-group"><label for="">Input Car Role</label><input type="text" class="form-control" formControlName="role"></div>-->

          <select class="custom-select" formControlName="role">
            <option value="" disabled>Choose your role</option>
            <option *ngFor="let role of Role" [ngValue]="role">{{role}}</option>
          </select>
          <ng-container *ngIf="key">
          <h3 class="mt-2">Send this key to your co-owner: {{key}}</h3>
          </ng-container>
          <button class="btn btn-success mt-2" type="submit">Share Car</button>
        </form>
      </div>
    </div>
   </div>
 </div>



  <div class="row mt-4">
  <div class="col-lg-12 mb-2">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="text-primary font-weight-bold m-0">Add Expanse</h6>
      </div>
    <div class="card-body">
      <form [formGroup]="postExpense" (submit)="addExpense()">
        <div class="form-group"><label for="">Amount</label><input type="number" class="form-control" formControlName="amount"></div>
        <div class="form-group"><label for="">Description</label><input type="text" class="form-control" formControlName="description"></div>
        <div class="form-group"><label for="">Mileage Interval</label><input type="number" class="form-control" formControlName="mileageInterval"></div>
        <div class="form-group"><label for="">Date</label><input type="date" class="form-control" formControlName="date"></div>
        <div class="form-group"><label for="">End Of Date Interval</label><input type="date" class="form-control" formControlName="endOfDateInterval"></div>
        <div class="form-group">
          <label for="">Category</label>
          <input list="category" type="text" class="form-control" formControlName="category">
          <datalist id="category" >
            <option value="fuel"></option>
            <option value="insurance"></option>
            <option value="other"></option>
            <option value="repair"></option>
            <option value="utilization"></option>
          </datalist>
        </div>
        <button class="btn btn-success" type="submit">Add Expanse</button>
      </form>
    </div>
  </div>
  </div>






