<div class="container-fluid">
  <div class="d-sm-flex justify-content-between align-items-center mb-4">
      <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
      <form [formGroup]="shareKey" (submit)="shareCar()">
         <div class="form-group"><label for="">Share Key</label><input type="text" class="form-control" formControlName="key"></div>
      <button class="btn btn-primary" type="submit">Add shared Car</button>
      </form>

  </div>


  <div class="row">
    <div class="col-lg-4 mb-2">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="text-primary font-weight-bold m-0">Add Car</h6>
        </div>
        <div class="card-body">
          <form [formGroup]="postCar" (submit)="addCar()">
            <div class="form-group"><label for="">Brand</label><input type="text" class="form-control" formControlName="brand"></div>
            <div class="form-group"><label for="">Model</label><input type="text" class="form-control" formControlName="model"></div>
            <div class="form-group"><label for="">Generation</label><input type="text" class="form-control" formControlName="generation"></div>
            <div class="form-group"><label for="">Plate Number</label><input type="text" class="form-control" formControlName="plate"></div>
            <div class="form-group"><label for="">Mileage</label><input type="number" class="form-control" formControlName="mileage"></div>
            <div class="form-group"><label for="">Production Year</label><input type="number" class="form-control" formControlName="productionYear"></div>
            <button class="btn btn-success" type="submit">Add Car</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-8 mb-4">
        <div class="card-shadow mb-4">
          <div class="card-header py-3">
              <h6 class="text-primary font-weight-bold m-0">Show Cars</h6>
          </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Brand</th>
                  <th scope="col">Model</th>
                  <th scope="col">Generation</th>
                  <th scope="col">Plate</th>
                  <th scope="col">Mileage</th>
                  <th scope="col">Production year</th>

                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let car of cars.cars">
                <tr>
                  <td>{{car.brand}}</td>
                  <td>{{car.model}}</td>
                  <td>{{car.generation}}</td>
                  <td>{{car.plate}}</td>
                  <td>{{car.mileage}}</td>
                  <td>{{car.productionYear}}</td>
                  <td> <button type="button" class="btn btn-warning" (click)="getCarById(car)">Edit</button></td>
                </tr>

                </ng-container>

              </tbody>
            </table>

        </div>
      </div>
  </div>
 </div>


