<ng-container *ngIf="auth.isAuthenticated" class="list-inline">
    <p class="list-inline-item ml-2">{{user}}</p>
   <button class="list-inline-item btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="auth.logout()">Logout</button>
 </ng-container>
