<form [formGroup]="editForm" (submit)="editProfile()">
  <div class="form-group">
    <label for="">Username</label>
    <input type="text" class="form-control" formControlName="username">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label for="">The best Car</label><input type="text" class="form-control" formControlName="bestCar">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Edit Data</button>
  </div>
</form>
